<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout>
            <state_filter>
                <enable>0</enable>
                <common_allowed_states>43</common_allowed_states>
                <specific_allowed_states>2,4,13,14,15,18,19,21,23,24,25,28,29,33,36,39,42,44,47,48,51,53,56,62,16</specific_allowed_states>
            </state_filter>
        </checkout>
    </default>
</config>
