<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <laconica_checkout>
            <billing_address>
                <enable>1</enable>
                <required_fields>telephone</required_fields>
                <exclude_fields>fax,prefix,middlename,suffix</exclude_fields>
            </billing_address>
        </laconica_checkout>
    </default>
</config>
