@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-9vb9o4');
	src:url('fonts/icomoon.eot?#iefix-9vb9o4') format('embedded-opentype'),
		url('fonts/icomoon.woff?-9vb9o4') format('woff'),
		url('fonts/icomoon.ttf?-9vb9o4') format('truetype'),
		url('fonts/icomoon.svg?-9vb9o4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gp-icon-fonts_up-arrow:before {
	content: "\e62c";
}

.icon-gp-icon-fonts_twitter:before {
	content: "\e62b";
}

.icon-gp-icon-fonts_tumblr:before {
	content: "\e62a";
}

.icon-gp-icon-fonts_tool:before {
	content: "\e629";
}

.icon-gp-icon-fonts_share:before {
	content: "\e628";
}

.icon-gp-icon-fonts_Search:before {
	content: "\e627";
}

.icon-gp-icon-fonts_rotate:before {
	content: "\e626";
}

.icon-gp-icon-fonts_right-arrow:before {
	content: "\e625";
}

.icon-gp-icon-fonts_refresh:before {
	content: "\e624";
}

.icon-gp-icon-fonts_previous:before {
	content: "\e623";
}

.icon-gp-icon-fonts_plus:before {
	content: "\e622";
}

.icon-gp-icon-fonts_play:before {
	content: "\e621";
}

.icon-gp-icon-fonts_pintrest:before {
	content: "\e620";
}

.icon-gp-icon-fonts_pin:before {
	content: "\e61f";
}

.icon-gp-icon-fonts_page:before {
	content: "\e61e";
}

.icon-gp-icon-fonts_next:before {
	content: "\e61d";
}

.icon-gp-icon-fonts_map:before {
	content: "\e61c";
}

.icon-gp-icon-fonts_left-arrow:before {
	content: "\e61b";
}

.icon-gp-icon-fonts_Instagram:before {
	content: "\e61a";
}

.icon-gp-icon-fonts_info:before {
	content: "\e619";
}

.icon-gp-icon-fonts_HamburgerMenu:before {
	content: "\e618";
}

.icon-gp-icon-fonts_HamburgerMenu2:before {
	content: "\e617";
}

.icon-gp-icon-fonts_globe:before {
	content: "\e615";
}

.icon-gp-icon-fonts_facebook:before {
	content: "\e614";
}

.icon-gp-icon-fonts_email:before {
	content: "\e613";
}

.icon-gp-icon-fonts_down-arrow:before {
	content: "\e612";
}

.icon-gp-icon-fonts_diagnol-arrow:before {
	content: "\e611";
}

.icon-gp-icon-fonts_cog2:before {
	content: "\e610";
}

.icon-gp-icon-fonts_cog1:before {
	content: "\e60f";
}

.icon-gp-icon-fonts_close:before {
	content: "\e60e";
}

.icon-gp-icon-fonts_bubble1:before {
	content: "\e60b";
}

.icon-uniE60A:before {
	content: "\e60a";
}

.icon-uniE609:before {
	content: "\e609";
}

.icon-uniE608:before {
	content: "\e608";
}

.icon-uniE607:before {
	content: "\e607";
}

.icon-uniE60C:before {
	content: "\e60c";
}

.icon-uniE60D:before {
	content: "\e60d";
}

.icon-uniE616:before {
	content: "\e616";
}

.icon-uniE62D:before {
	content: "\e62d";
}

.icon-gp-icon-fonts_watch-outline:before {
	content: "\e62e";
}

.icon-gp-icon-fonts_bubble2:before {
	content: "\e600";
}

.icon-uniE97B:before {
	content: "\e97b";
}

.icon-uniE986:before {
	content: "\e986";
}

.icon-uniEA0F:before {
	content: "\ea0f";
}

.icon-uniEA34:before {
	content: "\ea34";
}

.icon-uniEA38:before {
	content: "\ea38";
}

.icon-uniEA3C:before {
	content: "\ea3c";
}

.icon-uniEA40:before {
	content: "\ea40";
}

.icon-uniEA41:before {
	content: "\ea41";
}

.icon-uniEA42:before {
	content: "\ea42";
}

.icon-uniEA43:before {
	content: "\ea43";
}

.icon-uniEA88:before {
	content: "\ea88";
}

.icon-uniEA8C:before {
	content: "\ea8c";
}

.icon-uniEA90:before {
	content: "\ea90";
}

.icon-uniEA91:before {
	content: "\ea91";
}

.icon-home2:before {
	content: "\e601";
}

.icon-office:before {
	content: "\e602";
}

.icon-newspaper:before {
	content: "\e603";
}

.icon-pencil:before {
	content: "\e604";
}

.icon-pen:before {
	content: "\e605";
}

.icon-blog:before {
	content: "\e606";
}

.icon-question:before {
	content: "\e62f";
}

.icon-help:before {
	content: "\e630";
}

.icon-warning:before {
	content: "\e631";
}

.icon-arrow-left:before {
	content: "\e632";
}

.icon-arrow-down:before {
	content: "\e633";
}

.icon-arrow-up-upload:before {
	content: "\e634";
}

.icon-arrow-right:before {
	content: "\e635";
}

.icon-arrow-left2:before {
	content: "\e636";
}

.icon-arrow-down2:before {
	content: "\e637";
}

.icon-arrow-up:before {
	content: "\e638";
}

.icon-arrow-right2:before {
	content: "\e639";
}

.icon-arrow-left3:before {
	content: "\e63a";
}

.icon-arrow-down3:before {
	content: "\e63b";
}

.icon-arrow-up2:before {
	content: "\e63c";
}

.icon-arrow-right3:before {
	content: "\e63d";
}

.icon-arrow-left4:before {
	content: "\e63e";
}

.icon-arrow-down4:before {
	content: "\e63f";
}

.icon-arrow-up3:before {
	content: "\e640";
}

.icon-arrow-right4:before {
	content: "\e641";
}

.icon-arrow-left5:before {
	content: "\e642";
}

.icon-arrow-down5:before {
	content: "\e643";
}

.icon-arrow-up4:before {
	content: "\e644";
}

.icon-uniE645:before {
	content: "\e645";
}

