.billing-address-form {
  .field[name='billingAddresscheckmo.country_id'] {
    display: none !important;
  }
}

.form-shipping-address {
  .field[name='shippingAddress.country_id'] {
    display: none !important;
  }
}
.form-edit-account, .form-address-edit{
  .field.country{
    display: none !important;
  }
}