<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cataloginventory">
            <group id="item_options">
                <field id="enable_backorders_backend" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enable Backorders For Backend</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="skip_stock_manage_shipment" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Skip Stock Manage For Shipment</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>