<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="google" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="gtm" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="0">
                <label>Google Tag Manager</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable:</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="id" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Container ID:</label>
                </field>
                <field id="quote_pages" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Send Quote Pages:</label>
                </field>
                <field id="expressions_limit" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Products Expressions Limit:</label>
                </field>
                <field id="transaction_affiliation" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Transaction Affiliation:</label>
                </field>
                <field id="affiliation" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Affiliation:</label>
                </field>
            </group>
        </section>
    </system>
</config>