<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <la_sales_grid>
            <general>
                <filter_list>IPN, #1Box name, Boxes =, Authorized amount of, Captured amount of, Canceled order online</filter_list>
            </general>
        </la_sales_grid>
    </default>
</config>
