<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cataloginventory>
            <item_options>
                <enable_backorders_backend>1</enable_backorders_backend>
                <skip_stock_manage_shipment>1</skip_stock_manage_shipment>
            </item_options>
        </cataloginventory>
    </default>
</config>
