<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="laconica" translate="label" sortOrder="10000">
            <label>Laconica</label>
        </tab>
        <section id="laconica_checkout" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Checkout</label>
            <tab>laconica</tab>
            <resource>Laconica_Checkout::conf</resource>
            <group id="billing_address" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Billing address</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable:</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="required_fields" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Required Fields:</label>
                    <comment>Enter field codes that should be required separated by ,</comment>
                </field>
                <field id="exclude_fields" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude Fields:</label>
                    <comment>Enter field codes that should be excluded separated by ,</comment>
                </field>
            </group>
        </section>
    </system>
</config>