<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <google>
            <gtm>
                <enable>0</enable>
                <quote_pages>checkout/index/index</quote_pages>
                <expressions_limit>3</expressions_limit>
                <transaction_affiliation>Main Website</transaction_affiliation>
                <affiliation>Online Store</affiliation>
            </gtm>
        </google>
    </default>
</config>
